<div class="<%= current_user == message.author ? "message-right" : "message-left" %>">
  <div class="message-content">
    <div class="message-content--header">
      <span class="message-content--author">
        <%= message.author %>
      </span>
      <span class="message-content--time">
        <% if message.created_at > Time.now - 24.hours %>
          <%= l(message.created_at, format: :short) %>
        <% else %>
          <%= l(message.created_at, format: :long) %>
        <% end %>
      </span>
    </div>
    <div class="message-content--text">
      <% message.text.lines.each do |line| %>
        <p><%= line %></p>
      <% end %>
    </div>
  </div>
</div>
